<%- include('header');%>

<style>
      li{
            list-style-type: upper-alpha;
      }

      .rep{
            color: green;
      }

      
</style>

<h1>Correction du quiz</h1>

<h2>1. Qui était le dieu de la guerre dans la mythologie grecque ?</h2>
<ul>
      <li class="rep">Arès</li>
      <li>Hadès</li>
      <li>Hermès</li>
      <li>Apollon</li>
</ul>

<div class="correction1">
      <p></p>
</div>


<h2>2. Quel acteur américain incarne le héros du film de Christopher Nolan de 2014 « Interstellar » ?</h2>
<ul>
      <li>Léonardo DiCaprio</li>
      <li>Brad Pitt</li>
      <li class="rep">Matthew MacConaughey</li>
      <li>Tom Cruise</li>
</ul>

<div class="correction2">
      <p></p>
</div>

<h2>3. Quel animal est « pan-pan » dans Bambi ?</h2>
<ul>
      <li>Un chien</li>
      <li>Un cerf</li>
      <li>Un oiseau</li>
      <li class="rep">Un lapin</li>
</ul>

<div class="correction3">
      <p></p>
</div>

<a href="localhost:3000/resultat.ejs"><button>RESULTATS</button></a>

<%- include('footer');%>