<script>
    var nbrjoueur=document.getElementById("nbrjoueur");
    var compteur=0;
    $('#ajouter').prop("disabled", true);
    $('#start').prop("disabled", true);

    $("#validCompteur").click(function(){
        console.log(nbrjoueur.value);
        $('#ajouter').prop("disabled", false);
    })

    var nomjoueur=document.getElementById("nomjoueur");
    var tabljoueur=document.getElementById("tabljoueur");

    $("#ajouter").click(function(){
        compteur++ ;
        console.log(nomjoueur.value);
        tabljoueur.insertAdjacentHTML('beforeend', nomjoueur.value+' - ');
        console.log(compteur);

        if(compteur==nbrjoueur.value){
            $('#ajouter').prop("disabled", true);
            $('#start').prop("disabled", false);
        };
    })  

</script>

</body>
<script src="js/main.js"></script>

</html>
