<%- include('header');%>

<h2>Questions</h2>

<form action="/questions" method="post">
      <p>1. Qui était le dieu de la guerre dans la mythologie grecque ?</p>
      <input type="radio" id="q11" name="q11" value="1">
      <label for="q11">Arès</label>
<br/>

      <input type="radio" id="q12" name="q12" value="0">
      <label for="q12">Hadès</label>
      <br/>

      <input type="radio" id="q13" name="q13" value="0">
      <label for="q13">Hermès</label>
      <br/>

      <input type="radio" id="q14" name="q14" value="0">
      <label for="q14">Apollon</label>
      <br/>

      <input type="submit" id="repondre" value="Valider">
</form>



<%- include('footer');%>