<%- include('header');%>

<h2>Questions</h2>

<form action="/questions" method="post">
      <p>1. Qui était le dieu de la guerre dans la mythologie grecque ?</p>
      <select name="q1">
            <option id="q11" value="1">Arès</option>
            <option id="q12" value="0">Hadès</option>
            <option id="q13" value="0">Hermès</option>
            <option id="q14" value="0">Apollon</option>
      </select>
      <select name="q2">
            <option id="q11" value="1">Arès</option>
            <option id="q12" value="0">Hadès</option>
            <option id="q13" value="0">Hermès</option>
            <option id="q14" value="0">Apollon</option>
      </select>
      <select name="q3">
            <option id="q11" value="1">Arès</option>
            <option id="q12" value="0">Hadès</option>
            <option id="q13" value="0">Hermès</option>
            <option id="q14" value="0">Apollon</option>
      </select>
      

      <input type="submit" id="repondre" value="Valider">
</form>



<%- include('footer');%>