<%- include('header');%>

<h2>Questions</h2>

<form action="/questions" method="post">
            <h3>Question 1</h3>
            <p>1. Qui était le dieu de la guerre dans la mythologie grecque ?</p>

            <div id="question1">
                  <select name="q1"><option id="q11" value="1">Arès</option><option id="q12" value="0">Hadès</option><option id="q13" value="0">Hermès</option><option id="q14" value="0">Apollon</option></select>
            </div>
                  
            <br/>

            <h3>Question 2</h3>
            <p>2. Quel acteur américain incarne le héros du film de Christopher Nolan de 2014 « Interstellar » ?</p>
            <select name="q2">
                  <option id="q11" value="0">Léonardo DiCaprio</option>
                  <option id="q12" value="0">Brad Pitt</option>
                  <option id="q13" value="1">Matthew MacConaughey</option>
                  <option id="q14" value="0">Tom Cruise</option>
            </select>

            <br/>

            <h3>Question 3</h3>
            <p>3. Quel animal est « pan-pan » dans Bambi ?</p>
            <select name="q3">
                  <option id="q11" value="0">Un chien</option>
                  <option id="q12" value="0">Un cerf</option>
                  <option id="q13" value="0">Un oiseau</option>
                  <option id="q14" value="1">Un lapin</option>
            </select>

            <br/>
      <input type="submit" id="repondre" value="Valider">
</form>

<script>
      //BOUCLE QUESTIONS
   let q1= document.getElementById("question1");
   for(var i=0; i< 3; i++){
      q1.innerHTML='<select name="q1"><option id="q11" value="1">Arès</option><option id="q12" value="0">Hadès</option><option id="q13" value="0">Hermès</option><option id="q14" value="0">Apollon</option></select>';
   }
</script>

<%- include('footer');%>