<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Les Resultats</title>
</head>
<body>


<h1>Les Resultats</h1>

<script>



var resultat = [
{ name: "Edward", value: 3 },
{ name: "wili", value: 12 },
{ name: "Clement", value: 77 },
{ name: "yo", value: 55 }];

resultat.sort(function (a, b) {
  return b.value - a.value;
});

console.log(resultat);

for (var i=0; i<resultat.length; i++) {
  document.write('<p id="premier"> Place:' +(i+1)+ "</p><p>" +resultat[i].name+ " </p><p>Score:" +resultat[i].value+ "</p><br />");
}

</script>





<style>
H1{
Color:orange;
}

p{
font-style: italic;
}

#premier{
color:red;
font-style: normal;
}

</style>


</body>
</html>